<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640411576151-q8bav2h5sh2f2em52su4r2degg8lusot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640411576151-q8bav2h5sh2f2em52su4r2degg8lusot</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJeTTvz4ndGREDbPNoWk9vhExTxDq7j0</string>
	<key>GCM_SENDER_ID</key>
	<string>640411576151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyramedia.laake</string>
	<key>PROJECT_ID</key>
	<string>laake-cab74</string>
	<key>STORAGE_BUCKET</key>
	<string>laake-cab74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640411576151:ios:e99d09f4fd2b67ee</string>
	<key>DATABASE_URL</key>
	<string>https://laake-cab74.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5233313224793945~5475308565</string>
</dict>
</plist>